@font-face {
  font-family: G-Roboto-n4;
  src: url('../data/fonts/roboto_v20_KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf');
}
@font-face {
  font-family: G-Roboto-n5;
  src: url('../data/fonts/roboto_v20_KFOlCnqEu92Fr1MmEU9vAx05IsDqlA.ttf');
}